@model AdministracionEmpleados.Models.EmpleadoModel

@{
    ViewData["Title"] = "ActualizarEmpleados";
}

<h4>Actualizacion de Datos</h4>
<hr />

    <div class="row">
        <div class="col-md-4">
            <form asp-action="ActualizarEmpleados">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="IdEmpleado" class="control-label"></label>
                    <input asp-for="IdEmpleado" class="form-control" readonly="readonly" />
                    <span asp-validation-for="IdEmpleado" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="NombreEmpleado" class="control-label"></label>
                    <input asp-for="NombreEmpleado" class="form-control" readonly="readonly" />
                    <span asp-validation-for="NombreEmpleado" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Rol</label>
                    @Html.DropDownListFor(Model => Model.RolEmpleado, Model.LstRoles, new { @class = "form-control" })
                    @Html.ValidationMessageFor(Model => Model.RolEmpleado, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    <label class="control-label">Tipo</label>
                    @Html.DropDownListFor(Model => Model.TipoEmpleado, Model.LstTipoEmpleado, new { @class = "form-control" })
                    @Html.ValidationMessageFor(Model => Model.TipoEmpleado, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    <label asp-for="SueldoBaseHora" class="control-label"></label>
                    <input asp-for="SueldoBaseHora" class="form-control" />
                    <span asp-validation-for="SueldoBaseHora" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PagoXEntrega" class="control-label"></label>
                    <input asp-for="PagoXEntrega" class="form-control" />
                    <span asp-validation-for="PagoXEntrega" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="BonoHora" class="control-label"></label>
                    <input asp-for="BonoHora" class="form-control" />
                    <span asp-validation-for="BonoHora" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Regresar</a>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
